.delete {
    width: 15px;
    height: 10px;
    cursor: pointer;
    font-size: 15px;
    color: black;
    transition-delay: 50ms;
    background-color: black;
}

.delete:hover {
    background-color: bisque;
}

.dots {
    cursor: pointer;
    color: white;
    font-weight: 900;
}

.deleteContainer {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

.edit {
    font-size: 20px;
    color: white;
    font-weight: 900;
    border: .5px white solid;
    border-radius: 10px;
    padding: 5px;
}