.header {
    background-color: none;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.headerItem {
    font-size: 12px;
    padding: 10px;
    font-weight: 200;
    cursor: pointer;
}

.black {
    background-color: black;
}

.home {
    margin: 10px;
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
}

.headerButtonContainer {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    width: 30%;
    justify-content: space-between;
}

.headerItem {
    font-size: small;
    padding: 10px;
    font-weight: bold;
}

@media (width < 700px) {
    .headerButtonContainer {
        width: 40%;
    }
    .header {
        background-color: none;
        color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
    }
}

@media (width < 600px) {
    .headerItem {
        font-size: 11px;
        align-items: center;
    }
}