.dataResult {
    width: 500px;
    height: 200px;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: rgb(0, 0, 0, 0.35) 0px 5px 15px;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dateContainer {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.location {
    font-size: 30px;
    font-weight: 500;
}

.dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

a:hover {
    background-color: lightgray;
    cursor: pointer;
}

.input {
    border-bottom: 1px black solid;
    width: 500px;
}

.input::placeholder {
    color: white;
    opacity: .3;
}