body {
    height: 100vh;
    background-color: #dadbf1;
}

#root {
    height: 100vh;
}

.full {
    height: 100vh;
}

.loginBackContainer {
    width: 100%;
    display: flex;
    justify-content: end;
}

.wholeScreen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("./Media/loginphoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.homeTitle {
    font-size: 70px;
    color: white;
    font-weight: 900;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.back {
    font-weight: 800;
    font-size: 25px;
}

.mainBox {
    width: 50%;
    height: 100%;
    display: flex;
    margin: 5%;
    flex-direction: column;
    justify-content: flex-end;
}

.buttonContainer {
    display: flex;
    width: 85%;
    justify-content: center;
}

.mainContainer {
    height: 70%;
}

button {
    border: white 0.5px solid;
    color: black;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

.blur {
    backdrop-filter: blur(5px);
}

.upload {
    display: none;
}

.loginPage {
    background-color: white;
    height: 75%;
    width: 70%;
    display: flex;
    border-radius: 15px;
    justify-content: space-around;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 15px;
    width: 70%;
    align-items: center;
}

.inputTop {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.input {
    background-color: transparent;
    border: none;
    margin: 5px;
    height: 60px;
    width: 95%;
    border-radius: 2px;
    border-bottom: 1px black solid;
}

input:focus {
    border-color: blue;
}

.words {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    width: 80%;
    margin: 20px;
    padding: 20px;
}

.inputContainer {
    width: 80%;
    height: 50%;
}

button:focus {
    background-color: aqua;
}

button:hover {
    background-color: aqua;
}

.leftSideInput {
    width: 45%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.loginImage {
    width: auto;
    height: 95%;
    width: 100%;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
}

.color {
    color: black;
    font-size: 20px;
    transition-delay: 50ms;
}

.color:hover {
    background-color: aquamarine;
}

.button {
    border-radius: 25px;
    padding: 15px;
    background-color: transparent;
    color: white;
    font-size: 25px;
    font-weight: 800;
}

.loginbutton {
    border-radius: 30px;
    padding: 15px;
    background-color: transparent;
    color: black;
    border: 0.5px black solid;
    font-size: 25px;
    font-weight: 400;
}

@media (width < 1200px) {}

@media (width < 1000px) {
    .loginbutton {
        font-size: 15px;
    }
}

@media (width < 700px) {
    .loginImage {
        display: none;
    }
    .leftSideInput {
        display: none;
    }
    .words {
        font-weight: 400;
        font-size: 30px;
        text-align: center;
        width: 80%;
        margin: 20px;
        padding: 20px;
    }
    .loginbutton {
        border-radius: 30px;
        padding: 15px;
        background-color: transparent;
        color: black;
        border: 0.5px black solid;
        font-size: 25px;
        font-weight: 400;
    }
    .inputContainer {
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        align-items: center;
    }
    .words {
        font-size: 45px;
    }
    .loginPage {
        background-color: white;
        height: 95%;
        width: 95%;
        display: flex;
        border-radius: 15px;
        justify-content: space-around;
    }
    .mainBox {
        padding-top: 50px;
        width: 70%;
    }
    .inputTop {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}