body {
    height: 100vh;
    background-color: #dadbf1;
}

#root {
    height: 100vh;
}

.full {
    height: 100vh;
}

.wholeScreen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("./Media/newResized.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.homeTitle {
    font-size: 70px;
    color: white;
    font-weight: 900;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./Media/newResized.jpg");
}

.mainBox {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.mainContainer {
    height: 70%;
}