.profileWholeScreen {
    display: flex;
    flex-direction: row;
    background-color: rgb(22, 50, 67);
}

.leftProfileContainer {
    height: 100vh;
    width: 30vw;
    color: white;
    margin: 20px;
}

.editContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.edit {
    cursor: pointer;
    font-weight: 900;
}

.editInput {
    background-color: white;
}

.profileHeader {
    background-color: none;
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid white;
}

.rightProfileContainer {
    height: 100vh;
    width: 70vw;
}

.profileTitle {
    font-size: 100px;
    margin: 10px;
    font-weight: 800;
}

.profileItem {
    margin: 10px;
    font-size: 30px;
    font-weight: 400;
}

.mainImage {
    background-color: black;
    height: 45vh;
    width: 35vw;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mainImageContainer {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.topImagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 371px;
    padding-top: 20px;
}

.smallImage {
    height: 150px;
    width: 225px;
}

.smallImageContainer {
    width: 1012px;
    display: flex;
    justify-content: space-around;
}

img {
    vertical-align: bottom;
}

.imageDiv {
    background-color: black;
    height: 177px;
    width: 225px;
}

.upload {
    opacity: 0;
}

.rightSidePhotos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
}

.bottomContainer {
    display: flex;
    justify-content: space-around;
}

.pastTrips {
    display: flex;
}

input {
    border: none;
}