.wholeScreen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url("./Media/ocean.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    justify-content: space-between;
}

.audio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.free {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.smallfree {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.title {
    font-size: 60px;
    font-weight: 800;
    margin: 15px;
    text-align: center;
    color: white;
}

.half {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.paragraph {
    font-size: 40px;
    font-weight: 600;
    margin: 15px;
    color: white;
    width: 80%;
    width: auto;
    text-align: center;
}

.container {
    height: 80%;
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.bottomPiece {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.reviews {
    width: 50vw;
}

img {
    width: auto;
}

.homeImage {
    width: 50vw;
    border-radius: 8px;
    height: 600px;
}

.bottomLeft {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.inputSizer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 70%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    border-bottom: solid black 1px;
}

.bottomText {
    font-size: 25px;
    font-weight: 700;
    color: white;
}

.downContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input:focus {
    outline: none;
}

.secondContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.createTripContainer {
    display: flex;
    height: 53vh;
    width: 75vw;
    align-items: center;
    flex-direction: row;
    background-color: white;
    border-radius: 25px;
    margin: 20px;
}

.halfTripContainer {
    width: 300px;
    background-color: black;
    height: 90%;
    border-radius: 25px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    color: white;
}

.blueBoxWords {
    color: white;
    font-weight: 700;
    padding: 30px 30px 0 30px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.smallBlueBoxWords {
    color: white;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.otherHalfContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    width: 80%;
    background-color: none;
    justify-content: center;
}

.createTripInput {
    width: 95%;
    height: 45px;
    border-radius: 7px;
    margin: 5px;
    border: 1px solid black;
}

.xContainer {
    width: 100%;
    display: flex;
    justify-content: end;
}

.x {
    font-weight: 800;
    height: 20px;
    width: 20px;
    font-size: larger;
    cursor: pointer;
}

.center {
    display: flex;
    width: 100%;
    justify-content: center;
}

.datePickerContainer {
    width: 80%;
}

.backWrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10px;
}

.createTripInputContainer {
    width: 700px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
}

.createTripInput {
    width: 95%;
    height: 45px;
    border-radius: 7px;
    margin: 5px;
    border: 1px solid black;
}

.datePicker {
    background-color: white;
    height: 50px;
    width: 100%;
}

.eightyPercent {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tripInfo {
    border: 1px solid black;
    height: 50px;
    margin: 20px 0 10px 0;
    height: 100px;
}

.nextContainer {
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
}

.nextContainer:hover {
    background-color: goldenrod;
}

.createButton {
    width: 50px;
    display: contents;
}

@media (width < 1000px) {
    .paragraph {
        font-size: 35px;
    }
}

@media (width < 850px) {
    .bottomPiece {
        flex-direction: column;
    }
    .homeImage {
        height: 300px;
        width: 300px;
    }
}

@media (width < 800px) {
    .title {
        font-size: 50px;
    }
    .homeImage {
        height: 250px;
        width: 350px;
    }
    .paragraph {
        font-size: 30px;
    }
    .bottomLeft {
        width: 48%;
    }
}

@media (width < 600px) {
    .title {
        font-size: 50px;
    }
    .inputSizer {
        height: 80%;
    }
    .bottomLeft {
        width: 100%;
    }
    .reviews {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .location {
        font-size: 20px;
    }
    .dates {
        font-size: 15px;
    }
    .tripBox {
        width: 100%;
    }
    .halfTripContainer {
        display: none;
    }
    .createTripContainer {
        width: 95vw;
        justify-content: center;
    }
    .datePickerContainer {
        width: 100%;
    }
}