.rightTripContainer {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.tripImage {
    height: 300px;
    width: 400px;
    padding: 60px;
}

.tripMainContainer {
    height: 100vh;
    background-color: rgb(237, 233, 229);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftTripContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

.personaltriptitle {
    font-size: 70px;
    font-weight: 300;
    padding-top: 20px;
}

.personaltripdate {
    font-weight: 200;
    font-size: 20px;
}

.daysTill {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 15%;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.daysTillText {
    font-weight: 700;
    font-size: xx-large;
    font-family: fantasy;
}

.daysTillNumber {
    font-weight: 500;
    background-color: rgb(190, 199, 201);
    border-radius: 8px;
    width: 50px;
    text-align: center;
}

.boxContainer {
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding-top: 20px;
    display: flex;
    height: 100vh;
}

.tripContainer {
    display: flex;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
}

.smallerTitle {
    font-weight: 500;
    font-size: x-large;
}

textarea {
    width: 100%;
    border: none;
    border-radius: 15px;
}

.tripButton {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 5px;
}

.tripbox {
    margin: 10px;
    width: 500px;
    background-color: white;
    height: 100px;
    border-radius: 75px;
    display: flex;
    font-weight: 300;
    font-size: 15px;
    justify-content: center;
}

textarea:focus {
    outline: none;
}

.row {
    display: flex;
    padding: 10px;
}